// Hide signup/signin buttons
.sign-in-button {
    display: none;
}

// Add bean logo
#bean-logo {
    display: inline-block;
    vertical-align: middle;
    background: image-url("bean_logo.png") no-repeat center;
    background-size: 4em auto;
    width: 4em;
    height: 6.8em;
}